.macbook-air {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.macbook-air .div {
  background-color: #ffffff;
  width: 1280px;
  height: 832px;
  position: relative;
}

.macbook-air .text-wrapper {
  position: absolute;
  width: 797px;
  height: 90px;
  top: 303px;
  left: 241px;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 90px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.macbook-air .group {
  position: absolute;
  width: 837px;
  height: 145px;
  top: 439px;
  left: 221px;
  background-color: #676767;
  border-radius: 1000px;
}

.macbook-air .overlap-group-wrapper {
  position: absolute;
  width: 259px;
  height: 55px;
  top: 45px;
  left: 458px;
}

.macbook-air .overlap-group {
  width: 257px;
  height: 55px;
  position: relative;
  background-color: #ffffff;
  border-radius: 1000px;
}

.macbook-air .text-wrapper-2 {
  width: 211px;
  height: 28px;
  top: 14px;
  left: 23px;
  white-space: nowrap;
  position: absolute;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  border: 0px;
  background-color: #ffffff;
}

.macbook-air .overlap-wrapper {
  position: absolute;
  width: 250px;
  height: 65px;
  top: 40px;
  left: 116px;
}

.macbook-air .overlap {
  width: 248px;
  height: 65px;
  position: relative;
  background-color: #ffffff;
  border-radius: 1000px;
}

.macbook-air .text-wrapper-3 {
  width: 198px;
  height: 46px;
  top: 10px;
  left: 24px;
  position: absolute;
  font-family: "Pretendard-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
