.macbook-pro {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.macbook-pro .div {
  background-color: #f8f9fa;
  width: 1512px;
  height: 982px;
  position: relative;
}

.macbook-pro .overlap {
  position: absolute;
  width: 304px;
  height: 982px;
  top: 0;
  left: 0;
}

.macbook-pro .rectangle {
  width: 295px;
  height: 982px;
  top: 0;
  background-color: #f1f3f5;
  border-radius: 0px 32px 0px 0px;
  box-shadow: 0px 0px 32px #00000040;
  position: absolute;
  left: -40px;
}

.macbook-pro .element {
  width: 254px;
  height: 143px;
  border-radius: 0px 32px 0px 0px;
  box-shadow: 0px 0px 32px #00000040;
  margin-left: 15px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.macbook-pro .img {
  width: 254px;
  height: 143px;
  object-fit: cover;
}

.macbook-pro .element-2 {
  width: 254px;
  height: 144px;
  object-fit: cover;
}

.macbook-pro .element-3 {
  position: absolute;
  width: 304px;
  height: 207px;
  top: 637px;
  left: 0;
  object-fit: cover;
}

.macbook-pro .element-4 {
  position: absolute;
  width: 254px;
  height: 143px;
  top: 831px;
  left: 18px;
  object-fit: cover;
}

.macbook-pro .text-wrapper {
  position: absolute;
  height: 17px;
  top: 147px;
  left: 49px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #868e96;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .vector {
  position: absolute;
  width: 74px;
  height: 82px;
  top: 51px;
  left: 70px;
}

.macbook-pro .overlap-group {
  position: absolute;
  width: 1200px;
  height: 976px;
  top: 6px;
  left: 366px;
}

.macbook-pro .element-5 {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 0;
  margin: 5%;
  object-fit: cover;
}

.macbook-pro .rectangle-2 {
  width: 1200px;
  height: 700px;
  top: 0;
  background-color: #f1f3f5;
  border-radius: 0px 32px 0px 0px;
  box-shadow: 0px 0px 32px #00000040;
  position: absolute;
  left: 0px;
}

.macbook-pro .p {
  position: absolute;
  width: 702px;
  height: 183px;
  top: 763px;
  left: 155px;
  font-family: "Inter-Bold", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.macbook-pro .span {
  font-weight: 700;
  color: #495057;
}

.macbook-pro .text-wrapper-2 {
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #868e96;
  font-size: 24px;
}

.macbook-pro .text-wrapper-3 {
  font-family: "Inter-Medium", Helvetica;
  font-weight: 500;
  color: #868e96;
  font-size: 22px;
}

.macbook-pro .text-wrapper-4 {
  position: absolute;
  width: 185px;
  height: 23px;
  top: 751px;
  left: 155px;
  font-family: "Inter-Light", Helvetica;
  font-weight: 300;
  color: #868e96;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}
.macbook-pro .rectangle-3 {
  width: 290px;
  height: 700px;
  top: 200px;
  background-color: #f1f3f5;
  position: absolute;
  left: -40px;
  overflow: auto;
}