<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet"  href="{{url_for('static', filename='flask.css')}}" />
  </head>
  <body>
    <div class="macbook-air">
      <div class="div">
        <div class="text-wrapper">Design Doctor</div>
        <form class="group">
          <div class="overlap-group-wrapper">
            <div class="overlap-group"><input class="text-wrapper-2" type="file" value="시작"></div>
          </div>
          <div class="overlap-wrapper">
            <div class="overlap"><span class="text-wrapper-3">파일 입력</span></div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
